@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700");

/* Colours */
:root {
  --newtBlue: #38ceff;
  --off-black: #222;
  --darkGrey: #444;
  --darkGrey-2: #666;
  --grey: #999;
  --grey-2: #aaa;
  --lightGrey: #ccc;
  --lightGrey-2: #eee;
  --lightGreen: #33ce57;
  --lightGreen-btn-border: #48d368;
  --lightGreen-btn-hover: #5dd879;
  --blue: #007bff;
  --blue-btn-border: #006fe6;
  --blue-btn-hover: #3395ff;
  --red: #dc3545;
  --red-btn-border: #d32535;
  --red-btn-hover: #e4606d;
  --salmon: #ff8f6b;
  --yellow: #ffcd38;
}

/* HTML elements */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "avenir", "Muli", sans-serif;
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

input, textarea {
  display: block;
  padding: 0.375rem 0.75rem;
  margin-top: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--darkGrey-2);
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid var(--lightGrey);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

h2 {
  font-size: 1.6rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead {
  border-bottom: 1px solid black;
}

th {
  text-align: left;
  padding: 0.25rem 0.5rem;
}

td {
  padding: 0.5rem 0.5rem;
}

tr {
  border-bottom: 1px solid var(--lightGrey);
}

tr:last-child {
  border-bottom: none;
}

tbody > tr:hover {
  background-color: var(--lightGrey-2);
}
