@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'avenir', 'Muli', sans-serif;
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

input {
  display: block;
  padding: .375rem .75rem;
  margin-top: .25rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input::placeholder {
  color: #aaa;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-size: 1.6rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead {
  border-bottom: 1px solid black;
}

th {
  text-align: left;
  padding: .25rem .5rem;
}

td {
  padding: .5rem .5rem;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr:last-child {
  border-bottom: none;
}

tbody > tr:hover {
  background-color: #eee;
}
