.mainContainer {
  composes: mainContainer from '../../styles/shared.css';
}

.contentContainer {
  composes: contentContainer from '../../styles/shared.css';
}

.header {
  margin: 1rem 2%;
}

.message {
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  margin: 1rem 2%;
  min-width: 350px;
}

.link {
  font-weight: 600;
  text-decoration: underline;
}
