.card {
  display: flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: .5rem;
  width: 100%;
  min-height: 90px;
  margin: .75rem 0;
}

.cardVisual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.cardBody {
  display: flex;
  color: #444;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  font-size: .9rem;
  padding: .5rem 0;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
  font-weight: 600;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  color: white;
}
