.card {
  display: flex;
  border: 1px solid var(--lightGrey);
  box-sizing: border-box;
  border-radius: 0.5rem;
  width: 100%;
  min-height: 90px;
  margin: 0.75rem 0;
}

.completedCard {
  border-color: var(--lightGreen-btn-border);
}

.cardVisual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: 1px solid var(--lightGrey);
  background-color: var(--lightGrey-2);
}

.completedCardVisual {
  border-right-color: var(--lightGreen-btn-border);
  background-color: rgb(51, 206, 87, 0.8);
}

.cardBody {
  display: flex;
  color: var(--darkGrey);
  justify-content: space-between;
  width: 85%;
  padding: 0.5rem 0.75rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.headers {
  display: flex;
}

.title {
  margin-right: 1rem;
}

.subtitle {
  color: var(--grey-2);
  border-bottom: 1px solid #fff; /* White border so elements don't shift on hover's border */
}

.subtitle:hover {
  color: var(--grey);
  border-bottom: 1px solid var(--grey);
}

.details {
  font-size: 0.95rem;
}

.check {
  color: var(--darkGrey-2);
  cursor: pointer;
}

.check:hover {
  color: var(--lightGreen-btn-border);
}

.completedCheck {
  color: var(--lightGreen-btn-border);
}
