.container {
  display: flex;
  padding: 1rem 2%;
}

.agendaContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 2%;
}

.header {
  color: #444;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.timeline {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  min-height: 500px;
  box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1),0 3px 6px 0 rgba(0, 0, 0, .07);
}

.date {
  color: #555;
}

.prevWeekContainer {
  display: flex;
  flex-direction: column;
  width: 28%;
}
