.card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: .5rem;
  width: 100%;
  min-height: 90px;
  margin: .75rem 0;
}

.completedCard {
  border-color: #48d368;
}

.cardVisual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border-right: 1px solid #ccc;
  background-color: #eee;
}

.completedCardVisual {
  border-right-color: #48d368;
  background-color: rgb(51,206,87,.8);
}

.cardBody {
  display: flex;
  color: #444;
  justify-content: space-between;
  width: 85%;
  padding: .5rem .75rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.headers {
  display: flex;
}

.title {
  margin-right: 1rem;
}

.subtitle {
  color: #bbb;
  border-bottom: 1px solid #fff; /* White border so elements don't shift on hover's border */
}

.subtitle:hover {
  color: #999;
  border-bottom: 1px solid #999;
}

.details {
  font-size: .95rem;
}

.check {
  color: #666;
  cursor: pointer;
}

.check:hover {
  color: #48d368;
}

.completedCheck {
  color: #48d368;
}
