.container {
  display: flex;
  padding: 1rem 2%;
}

.agendaContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 400px;
  margin-right: 2%;
}

.header {
  color: var(--darkGrey);
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.timeline {
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  padding: 1rem;
  min-height: 500px;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.cardGroup {
  display: flex;
}

.date {
  color: var(--darkGrey-2);
  margin: .375rem 0;
}

.time {
  color: var(--darkGrey-2);
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  font-size: 0.8rem;
  margin-right: 0.75rem;
}

/* Timeline effect */
.time::before, .time::after {
  content: "";
  height: calc(50% - 15px);
  width: calc(50% - 1px);
  border-right: 1px solid #ddd;
}

/* Remove line after last card */
.cardGroup:last-child > .time::after {
  border-right: 0;
}

.prevWeekContainer {
  display: flex;
  flex-direction: column;
  width: 28%;
  min-width: 260px;
}

/*
   Two media queries to make Timeline responsive: bigger one for when sidebar is
   expanded and smaller one for when it's collapsed. Not sure if this is the
   best way to go, but it seems simpler (for now, atleast) than using JavaScript
   to keep track of div sizes.
*/
@media only screen and (max-width: 1040px) {
  .expandedSidebar {
    flex-direction: column;
  }

  .agendaContainer {
    width: 100%;
  }

  .prevWeekContainer {
    width: 50%;
  }
}

@media only screen and (max-width: 850px) {
  .collapsedSidebar {
    flex-direction: column;
  }

  .agendaContainer {
    width: 100%;
  }

  .prevWeekContainer {
    width: 50%;
  }
}
