.container {
  display: flex;
  margin: 1rem 2%;
}

.agendaContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 2%;
}

.header {
  color: #444;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.timeline {
  border: 1px solid #ccc;
  border-radius: .5rem;
  padding: 1rem;
  min-height: 500px;
}

.date {
  color: #555;
}

.prevWeekContainer {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.prevWeek {
  border: 1px solid #ccc;
  border-radius: .5rem;
  padding: .75rem;
  height: 500px;
}
