.formOptions {
  padding: 0.25rem 2% 1rem 2%;
}

.formOptionBtn {
  border-radius: 0.25rem;
  margin-right: 0.75rem;
}

.defaultFormBtn:hover,
.activeDefaultFormBtn {
  background-color: rgb(36, 41, 46, 0.15);
  color: #24292e;
  border-color: #24292e;
}

.youtubeFormBtn:hover,
.activeYoutubeFormBtn {
  background-color: rgb(255, 0, 0, 0.15);
  color: #ff0000; /* YouTube colour */
  border-color: #ff0000;
}
