.container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2%;
}

.videoPreview {
  display: flex;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3rem;
  width: calc(100% - 320px);
}

@media screen and (max-width: 800px) {
  .formContainer {
    width: 100%;
    min-width: 400px;
  }
}

.formRow {
  display: flex;
  justify-content: space-between;
}

.formRow:first-child {
  margin-bottom: 0.75rem;
}

.input {
  width: 100%;
  box-sizing: border-box;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputGroupLeft {
  width: 70%;
  margin-right: 1.75rem;
}

.inputGroupRight {
  width: 30%;
}

.optional {
  font-size: 0.8rem;
  color: #aaa;
}

.error {
  color: red;
}

.actionButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
