.card {
  display: flex;
  border: 1px solid var(--lightGrey);
  box-sizing: border-box;
  border-radius: 0.5rem;
  width: 100%;
  min-height: 70px;
  margin-top: 1rem;
  box-shadow: 0 5px 12px 0 rgba(60, 66, 87, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  transition: box-shadow 0.3s ease-out;
}

.card:hover {
  cursor: pointer;
  box-shadow: none;
  border: 2px solid var(--darkGrey-2);
}

.card:hover .cardVisual {
  border-right: 2px solid var(--darkGrey-2);
}

.completedCard {
  border-color: var(--lightGreen-btn-border);
}

.activeCard {
  border: 2px solid var(--darkGrey-2);
}

.cardVisual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: 1px solid var(--lightGrey);
  background-color: var(--lightGrey-2);
}

.activeCardVisual {
  border-right: 2px solid var(--darkGrey-2);
}

@media only screen and (max-width: 1130px) {
  .cardVisual {
    width: 0;
    border: 0;
  }
}

.completedCardVisual {
  border-right-color: var(--lightGreen-btn-border);
  background-color: rgb(51, 206, 87, 0.8);
}

.cardBody {
  display: flex;
  flex-direction: column;
  color: var(--darkGrey);
  justify-content: space-between;
  width: 80%;
  padding: 0.5rem 0.75rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.subtitle {
  color: var(--grey-2);
}
