.mainContainer {
  composes: mainContainer from "../../styles/shared.css";
}

.assignmentsContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 2%;
}

.headerContainer {
  composes: headerContainer from "../../styles/shared.css";
}

.tableContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2%;
}

.tableOptions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.completedBtn:hover {
  border: 1px solid var(--lightGreen-btn-border);
}

.selected {
  border: 1px solid var(--lightGreen-btn-border);
  color: var(--lightGreen-btn-border);
}
