.mainContainer {
  composes: mainContainer from '../../styles/shared.css';
}

.contentContainer {
  composes: contentContainer from '../../styles/shared.css';
}

.assignmentsContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 2%;
}

.headerContainer {
  composes: headerContainer from '../../styles/shared.css';
  margin-bottom: 2rem;
}

.tableContainer {
  display: flex;
  flex-direction: column;
}

.tableOptions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: .5rem;
}

.completedBtn:hover {
  border: 1px solid #48d368;
}

.selected {
  border: 1px solid #48d368;
  color: #48d368;
}
