.container {
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1),0 3px 6px 0 rgba(0, 0, 0, .07);
  padding: 1.5rem;
  min-width: 400px;
}

.options {
  color: var(--darkGrey-2);
  width: 20px;
}

.center {
  text-align: center;
}
