.container {
  border: 1px solid #ccc;
  border-radius: .5rem;
  padding: 1.5rem;
  min-width: 400px;
}

.options {
  color: #666;
  width: 20px;
}

.deleteBtn {
  composes: deleteBtn from '../../styles/shared.css';
}

.center {
  text-align: center;
}
