.contentContainer {
  width: 70%;
  box-sizing: border-box;
  min-height: 500px;
  min-width: 500px;
  margin-left: 1rem;
  padding: 2.5rem;
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.contentHeaderContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.contentHeader {
  color: var(--off-black);
  margin-right: 0.5rem;
}

.headerInfo {
  display: flex;
  align-items: flex-end;
}

.contentContainerBody {
  display: flex;
  flex-direction: column;
  margin-top: 2.25rem;
}

.date {
  color: var(--darkGrey-2);
  margin-right: 0.75rem;
  width: max-content;
}

.check {
  color: var(--darkGrey-2);
  cursor: pointer;
  margin-right: 0.5rem;
}

.check:hover {
  color: var(--lightGreen-btn-border);
}

.completedCheck {
  color: var(--lightGreen-btn-border);
}

/*
   For responsive iframe
   See: https://www.ostraining.com/blog/coding/responsive-videos/
*/
.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 2rem;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.knowledgeInfoContainer {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: rgba(0, 123, 255, 0.35);
  padding: 0.75rem;
  color: var(--off-black);
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.knowledgeInfoContainer h4 {
  font-size: 1.1rem;
  color: var(--off-black);
  text-decoration: underline;
  margin-bottom: 0.75rem;
}

.knowledgeInfoContainer p:first-child {
  min-width: 130px;
  margin-right: 0.75rem;
}

.subheading {
  font-size: 1.1rem;
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}
