.assignmentsContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 2%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: .25rem 0;
  margin-bottom: .5rem;
  /* border-bottom: 1px solid #ddd; */
}

.header {
  display: flex;
  align-items: flex-end;
  color: #444;
  font-size: 1.2rem;
  font-weight: 600;
}

.addBtn {
  composes: addBtn from '../../styles/shared.css';
}

.completedBtn {
  margin-right: 1rem;
}

.completedBtn:hover {
  border: 1px solid #48d368;
}

.selected {
  border: 1px solid #48d368;
  color: #48d368;
}
