.assignmentsContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 2%;
}

.headerContainer {
  composes: headerContainer from "../../styles/shared.css";
  padding: 0.25rem 0;
  margin-bottom: 0.5rem;
}

.header {
  display: flex;
  align-items: flex-end;
  color: var(--darkGrey);
  font-size: 1.2rem;
  font-weight: 600;
}

.addBtn {
  composes: addBtn from "../../styles/shared.css";
}

.completedBtn {
  margin-right: 1rem;
}

.completedBtn:hover {
  border: 1px solid var(--lightGreen-btn-border);
}

.selected {
  border: 1px solid var(--lightGreen-btn-border);
  color: var(--lightGreen-btn-border);
}
