.input {
  width: 100%;
  box-sizing: border-box;
}

.inputGroup {
  margin-bottom: 1rem;
}

.label {
  margin-right: 0.5rem;
}

.tag {
  font-size: 0.8rem;
  color: #aaa;
}

.dateContainer {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}
