.card {
  display: flex;
  justify-content: center;
  width: 26.33%; /* (100% - margin - padding) */
  min-width: 200px;
  min-height: 100px;
  margin: 2%;
  padding: 1.5%;
  border-radius: 1rem;
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.35);
  background-color: var(--lightGrey-2);
}

/* For widescreen make cards in sets of 4 instead of 3 */
@media screen and (min-width: 1800px) {
  .card {
    width: 18%;
  }
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin: 0.5rem 0;
}

.subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: var(--darkGrey-2);
  text-align: center;
  margin: 0.5rem 0;
}
