.card {
  display: flex;
  justify-content: center;
  width: 26.33%; /* (100% - margin - padding) */
  min-width: 200px;
  min-height: 100px;
  margin: 2%;
  padding: 1.5%;
  border-radius: 1rem;
  box-shadow: 0 10px 40px -10px rgba(0,64,128,.35);
  background-color: #eee;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon {
  display: flex;
  justify-content: center;
  margin: .5rem 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin: .5rem 0;
}

.subtitle {
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin: .5rem 0;
}
