.btn {
  background-color: #fff;
  border: 1px solid var(--lightGrey);
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.25;
  border-radius: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.primaryBtn {
  background-color: var(--blue);
  border: 1px solid var(--blue-btn-border);
  color: white;
  font-weight: 500;
}

.primaryBtn:hover {
  background-color: var(--blue-btn-hover);
}

.successBtn {
  background-color: var(--lightGreen);
  border-color: var(--lightGreen-btn-border);
  color: white;
  font-weight: 500;
}

.successBtn:hover {
  background-color: var(--lightGreen-btn-hover);
}

.dangerBtn {
  background-color: var(--red);
  border: 1px solid var(--red-btn-border);
  color: white;
  font-weight: 500;
}

.dangerBtn:hover {
  background-color: var(--red-btn-hover);
}
