.formContainer {
  composes: formContainer from "../../styles/shared.css";
}

.input {
  width: 100%;
  box-sizing: border-box;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-right: 0.5rem;
}

.optional {
  font-size: 0.8rem;
  color: #aaa;
}

.error {
  color: red;
}
