@import url("https://fonts.googleapis.com/css?family=Righteous");

.container {
  min-height: calc(100vh - 64px);
  width: 100%;
  background-color: var(--newtBlue);
  display: flex;
  justify-content: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.title {
  font-size: 9rem;
  font-family: "Righteous", cursive;
  letter-spacing: 0.2rem;
  font-weight: 500;
  color: white;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.75rem;
  color: rgb(255, 255, 255, 0.9);
  margin-top: 3rem;
}
