.contentContainer {
  min-height: 550px;
  padding: 2.5rem;
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.header {
  margin-bottom: 1.5rem;
}

.topicsRow {
  width: 60%;
  padding: 0.25rem 0;
}

.ratingRow {
  width: 40%;
  padding: 0.25rem 0;
}

.ratingBar {
  border-radius: 0.25rem;
  background-color: rgba(0, 123, 255, 0.6);
}

.ratingLabel {
  color: white;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
