.mainContainer {
  composes: mainContainer from "../../styles/shared.css";
}

.headerContainer {
  composes: headerContainer from "../../styles/shared.css";
}

.message {
  padding: 1.5rem;
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  margin: 1rem 2%;
  min-width: 350px;
}
