.tableContainer {
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  padding: 1.5rem;
  min-width: 350px;
}

.options {
  color: var(--darkGrey-2);
  width: 20px;
}

/* Dropdown */
.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  text-align: left;
}

.menu {
  right: 0;
  position: absolute;
  outline: 0;
  top: 100%;
  min-width: max-content;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  transition: opacity 0.1s ease;
  z-index: 11;
}

.item {
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  height: auto;
  text-align: left;
  padding: 0.75rem 0.5rem;
  line-height: 1em;
  font-size: 1rem;
  font-weight: 400;
  box-shadow: none;
}

.item:hover {
  background-color: var(--lightGrey-2);
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}
