.mainContainer {
  composes: mainContainer from '../../styles/shared.css';
}

.contentContainer {
  composes: contentContainer from '../../styles/shared.css';
}

.headerContainer {
  composes: headerContainer from '../../styles/shared.css';
  margin-bottom: 1rem;
}
