.cardContainer {
  flex-wrap: wrap;
  padding: 0;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin: 1rem 0;
  width: 70%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.optionsContainer {
  display: flex;
}

.optionsDropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 35px;
  border-radius: 0.5rem;
  transition: 0.15s linear;
}

.optionsDropdown:hover {
  background-color: #eee;
}
