.coursesContainer {
  padding: 1rem 0;
  flex-direction: column;
}

.courseSection {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.headings {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0 2%;
  padding: 0.25rem 0;
  border-bottom: 1px solid #ddd;
}

.header {
  color: var(--off-black);
  margin: 0 2% 0 0;
  font-weight: 500;
}

.header:hover {
  font-weight: 600;
}

.institution {
  margin: 0 0 0 2%;
  color: var(--grey-2);
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardColor {
  background-color: var(--salmon);
}
