.mainContainer {
  composes: mainContainer from '../../styles/shared.css';
}

.contentContainer {
  composes: contentContainer from '../../styles/shared.css';
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2%;
}

.editBtn {
  composes: editBtn from '../../styles/shared.css';
}

.deleteBtn {
  composes: deleteBtn from '../../styles/shared.css';
}
