.mainContainer {
  composes: mainContainer from "../../styles/shared.css";
}

.headerContainer {
  composes: headerContainer from "../../styles/shared.css";
}

.editBtn {
  composes: editBtn from "../../styles/shared.css";
}

.deleteBtn {
  composes: deleteBtn from "../../styles/shared.css";
}
