.courseContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 2%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.addBtn {
  composes: addBtn from '../../styles/shared.css';
}

.cardColor {
  background-color: #ff8f6b;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}
