.mainContainer {
  composes: mainContainer from "../../styles/shared.css";
}

.headerContainer {
  composes: headerContainer from "../../styles/shared.css";
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.cardColor {
  background-color: var(--yellow);
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin: 1rem 0;
  width: 70%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
