.cardContainer {
  flex-wrap: wrap;
  padding: 0;
}

.cardColor {
  background-color: var(--yellow);
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin: 1rem 0;
  width: 70%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
