.courseContainer {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  composes: headerContainer from "../../styles/shared.css";
  padding-top: 1.5rem;
  padding-bottom: 0;
}

.addBtn {
  composes: addBtn from "../../styles/shared.css";
}

.cardColor {
  background-color: #ff8f6b;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.message {
  padding: 1.5rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin: 1rem 2%;
  min-width: 350px;
}

.addCourse {
  color: #33ce57;
  font-weight: 600;
}
