.courseContainer {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  composes: headerContainer from "../../styles/shared.css";
  padding-top: 1.5rem;
  padding-bottom: 0;
}

.cardColor {
  background-color: var(--salmon);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.message {
  padding: 1.5rem;
  width: 100%;
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  margin: 1rem 2%;
  min-width: 350px;
}

.addCourse {
  color: var(--lightGreen);
  font-weight: 600;
}
