.messageBox {
  width: 100%;
  padding: 1.5rem;
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  min-width: 350px;
}

.messageLink {
  font-weight: 600;
  text-decoration: underline;
}
