.container {
  min-height: calc(100vh - 64px);
  width: 100%;
  background-color: #38ceff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  border-radius: .5rem;
  width: 90%;
  height: 300px;
  min-width: 200px;
  max-width: 500px;
}

.panelHeader {
  margin: 2rem 0;
  font-size: 1.5rem;
  color: #666;
}

.panelBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.panelBody > ul {
  width: 60%;
}

@media only screen and (max-width: 460px) {
  .panelBody > ul {
    width: 75%;
  }
}

.providerBtn {
  margin: .5rem 0;
}

.loginBtn {
  color: #666;
  width: 100%;
}

.googleBtn:hover {
  background-color: rgb(221,83,71,0.15);
  color: #dd5347;  /* Gmail colour */
  border-color: #dd5347;
}
