.contentForms {
  display: block;
}

.tabPane {
  min-height: 500px;
  padding: 2rem;
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.form {
  margin: 1rem 0;
  width: 70%;
}

.formLabel {
  font-weight: 500;
}

.horizontalForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.horizontalFormGroup {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-right: 2rem;
  width: 40%;
  min-width: 200px;
}

.optional {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: var(--grey-2);
}

.lastFormRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dateDue {
  display: flex;
  flex-direction: column;
}

.lastFormRowField {
  margin-bottom: 1rem;
}

.youtubeImgPreview {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.searchButtonContainer {
  display: flex;
  justify-content: center;
}

.searchButtonContainerHorizontal {
  display: flex;
  align-items: flex-end;
}

.searchButton {
  width: 300px;
  margin-top: 2rem;
}

.searchButtonHorizontal {
  margin-top: 0;
  width: 200px;
  min-width: 100px;
  height: 35px;
}
