.bookCard {
  display: flex;
  width: 29.33%;
  margin: 2%;
  padding: 1.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
  box-shadow: 0px 15px 45px -15px rgba(0, 64, 128, 0.2);
}

.bookCard:hover {
  box-shadow: 0px 3px 9px -3px rgba(0, 64, 128, 0.2);
}

.bookThumbnail {
  border-radius: 0.5rem;
  height: 150px;
  margin-right: 1rem;
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.3rem;
}

.title {
  margin-right: 0.3rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19px;
  width: 19px;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #86e29b;
}

.iconContainer:hover {
  background-color: var(--lightGreen);
}

.author {
  font-size: 0.9rem;
  color: var(--grey);
}

.pageCount {
  font-size: 0.8rem;
  color: var(--grey);
}

.description {
  margin-top: 1rem;
  color: var(--grey);
  font-size: 0.9rem;
}

@media screen and (max-width: 1050px) {
  .bookCard {
    width: 46%;
    padding: 1.2rem;
  }
}

@media screen and (max-width: 780px) {
  .bookCard {
    width: 96%;
  }
}
