.contentContainer {
  display: block;
  margin-top: 1rem;
}

.contentContainer > div {
  flex-wrap: wrap-reverse;
}

.contentInfo {
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  padding: 1.5rem;
  height: fit-content;
  color: var(--darkGrey-2);
}

.link {
  color: var(--blue);
}

.link:hover {
  color: var(--blue);
  text-decoration: underline;
}

.infoRow {
  display: flex;
  box-sizing: border-box;
  font-size: 0.95rem;
}

.infoRow > .infoRowField {
  width: 50%;
  padding-right: 0.35rem;
  font-weight: 500;
  min-width: 70px;
  max-width: 150px;
}

.infoRow > .infoRowValue {
  display: flex;
  align-items: flex-end;
  width: 50%;
  max-width: 150px;
}

@media screen and (max-width: 1180px) and (min-width: 993px) {
  .contentInfo {
    padding: 1rem;
  }

  .infoRow {
    font-size: 0.8rem;
  }
}
