.contentContainer {
  display: block;
}

.contentList {
  border-right: 1px solid var(--grey-2);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding-right: 1rem;
  width: 30%;
  min-height: 600px;
  height: calc(100vh - 200px); /* Rough estimate */
  overflow: auto;
  min-width: 125px;
  box-shadow: inset 0 10px 10px -7px rgba(0, 0, 0, 0.07),
    inset 0 -10px 10px -7px rgba(0, 0, 0, 0.07);
  color: var(--darkGrey-2);
}

.contentFlow {
  width: 70%;
  box-sizing: border-box;
  margin-left: 1rem;
}

.completedBtn:hover {
  border: 1px solid var(--lightGreen-btn-border);
}

.selected {
  border: 1px solid var(--lightGreen-btn-border);
  color: var(--lightGreen-btn-border);
}
