.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: var(--newtBlue); /* lightBlue */
  transition: width 0.5s;
}

.expandedSidebar {
  width: 220px;
}

.collapsedSidebar {
  width: 68px;
}

.sidebarNavlinks {
  display: flex;
  flex-direction: column;
  padding: 54px 0 1rem 0; /* 54px is height of navbar */
  width: 100%;
}

.navlinkRow {
  display: flex;
  padding: 0.5rem 1rem;
}

.collapsedNavlinkRow {
  justify-content: center;
}

.navlinkRow:hover {
  background-color: #85e1ff;
}

.activeNav {
  font-weight: bold;
}

.icon {
  padding: 0 0.5rem;
}

.collapse {
  display: flex;
  justify-content: flex-end;
  padding: 0 21.5px 2rem 21.5px; /* Centering hack because transitions/animations are a bitch */
}

.collapseIcon {
  cursor: pointer;
}

.collapseIcon:hover {
  color: white;
}
