.sidebar {
  display: flex;
  height: 100vh;
  width: 18%;
  min-width: 200px;
  background: #38ceff; /* lightBlue */
}

.sidebarNavlinks {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 1rem 1rem 1rem;
}

.navlink {
  padding: .5rem 0rem;
}

.navlinkRow {
  display: flex;
}

.activeNav {
  font-weight: bold;
}
