.sidebar {
  display: flex;
  height: 100vh;
  width: 18%;
  min-width: 200px;
  background: #38ceff; /* lightBlue */
}

.sidebar-navlinks {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 1rem 1rem 1rem;
}
