.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 18%;
  min-width: 200px;
  background: #38ceff; /* lightBlue */
}

.sidebarNavlinks {
  display: flex;
  flex-direction: column;
  padding: 59px 0 1rem 0; /* 59px is height of navbar */
  width: 100%;
}

.navlinkRow {
  display: flex;
  padding: 0.5rem 1rem;
}

.navlinkRow:hover {
  background-color: #85e1ff;
}

.activeNav {
  font-weight: bold;
}

.icon {
  padding: 0 0.5rem;
}

.collapse {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem 2rem 1rem;
}

.collapseIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.collapseIcon:hover {
  background-color: #85e1ff;
}
