.message {
  margin-bottom: 0.5rem;
}

.center {
  display: flex;
  justify-content: center;
}

.retryBtn {
  width: 60%;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-color: #bf2600;
  background-color: #ffccbf;
}

.retryBtn:hover {
  background-color: #ff5630;
  color: white;
}
