.formContainer {
  width: 50%;
  min-width: 500px;
}

@media screen and (max-width: 800px) {
  .formContainer {
    width: 100%;
    min-width: 400px;
  }
}

.updateBtn {
  width: 125px;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #006fe6;
}

.updateBtn:hover {
  background-color: #3395ff;
}
