.mainContainer {
  composes: mainContainer from "../../styles/shared.css";
}

.headerContainer {
  composes: headerContainer from "../../styles/shared.css";
}

.addBtn {
  composes: addBtn from "../../styles/shared.css";
}

.cardColor {
  background-color: #ffcd38;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1056px) {
  .cardContainer {
    justify-content: flex-start;
  }
}

.message {
  padding: 1.5rem;
  width: 100%;
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  margin: 1rem 2%;
  min-width: 350px;
}

.addProgram {
  color: var(--lightGreen);
  font-weight: 600;
}
