.mainContainer {
  composes: mainContainer from "../../styles/shared.css";
}

.headerContainer {
  composes: headerContainer from "../../styles/shared.css";
}

.headings {
  display: flex;
  flex-grow: 1;
}

.header {
  margin: 0 2% 0 0;
}

.institution {
  margin: 0 0 0 2%;
  color: #bbb;
}

.editBtn {
  composes: submitBtn from "../../styles/shared.css";
  width: 75px;
  margin: 0 0.5rem 0 0;
}

.deleteBtn {
  composes: deleteBtn from "../../styles/shared.css";
  width: 75px;
  margin: 0 0 0 0.5rem;
}
