.mainContainer {
  composes: mainContainer from '../../styles/shared.css';
}

.contentContainer {
  composes: contentContainer from '../../styles/shared.css';
}

.headerContainer {
  composes: headerContainer from '../../styles/shared.css';
  margin: 1rem 2%;
}

.headings {
  display: flex;
  flex-grow: 1;
}

.header {
  margin: 0 2% 0 0;
}

.institution {
  margin: 0 0 0 2%;
  color: #bbb;
}

.editBtn {
  composes: editBtn from '../../styles/shared.css';
}

.deleteBtn {
  composes: deleteBtn from '../../styles/shared.css';
}
