.cardColor {
  background-color: var(--yellow);
}

.cardContainer {
  padding: 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 1056px) {
  .cardContainer {
    justify-content: flex-start;
  }
}

.addProgram {
  color: var(--lightGreen);
  font-weight: 600;
}
