.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  min-width: 200px;
  min-height: 100px;
  margin: 2%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 10px 40px -10px rgba(0,64,128,.35);
  background-color: #ffb294;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin: .5rem 0rem;
}

.subtitle {
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin: .5rem 0rem;
}
