.appContainer {
  composes: appContainer from '../../styles/shared.css';
}

.pageContainer {
  composes: pageContainer from '../../styles/shared.css';
}

.mainContainer {
  composes: mainContainer from '../../styles/shared.css';
}

.contentContainer {
  composes: contentContainer from '../../styles/shared.css';
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 2%;
}

.addBtn {
  composes: addBtn from '../../styles/shared.css';
}

.cardColor {
  background-color: #ffcd38;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1056px) {
  .cardContainer {
    justify-content: flex-start;
  }
}
