.navbarContainer {
  width: 100%;
}

.lightGreyNavbar {
  background-color: #ddd;
}

.lightBlueNavbar {
  background-color: var(--newtBlue);
  color: white;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
}

.navbarBtns {
  display: flex;
  align-items: center;
}

.toDash {
  margin-right: 1rem;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  border: 2px solid var(--newtBlue);
}

.toDash:hover {
  border-bottom: 2px solid #fff;
  font-weight: 600;
}

.loginBtn {
  background-color: var(--newtBlue);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid #fff;
}

.loginBtn:hover {
  background-color: #fff;
  color: var(--newtBlue);
}

.userIcon {
  display: flex;
  align-items: center;
  height: 22px;
}
