.navbarContainer {
  width: 100%;
}

.lightGreyNavbar {
  background-color: #ddd;
}

.lightBlueNavbar {
  background-color: #38ceff;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 2rem;
}

.logoutBtn {
  background-color: #eee;
  border: 1px solid #666;
}

.logoutBtn:hover {
  background-color: #fff;
  border-color: #0396ff;
}
