.appContainer {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  width: 82%;
}

.mainContainer {
  flex-grow: 1;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding: .75rem;
}

.addBtn {
  background-color: #33ce57;
  border-color: #48d368;
  color: white;
  font-weight: 500;
}

.addBtn:hover {
  background-color: #5dd879;
}
