.appContainer {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.pageContainer {
  display: flex;
  flex-direction: column;
}

.mainMessage {
  width: 100%;
  padding: 1.5rem;
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  margin: 1rem 2%;
  min-width: 350px;
}
