.mainContainer {
  composes: mainContainer from "../../styles/shared.css";
}

.headerContainer {
  composes: headerContainer from "../../styles/shared.css";
}

.container {
  display: flex;
  padding: 1rem 2%;
}

.optionsContainer {
  padding: 2.5rem 0;
  width: 20%;
  min-height: 500px;
  min-width: 125px;
}

.subheading {
  padding: 0 0.4rem;
  color: var(--grey);
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.option {
  padding: 0.4rem;
  color: var(--darkGrey);
  font-weight: 500;
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
}

.option:hover {
  background-color: var(--lightGrey-2);
  cursor: pointer;
}

.active {
  background-color: var(--salmon);
  color: white;
}

.active:hover {
  background-color: var(--salmon);
  color: white;
}

.contentContainer {
  width: 80%;
  min-height: 500px;
  margin-left: 2rem;
  padding: 2.5rem;
  border: 1px solid var(--lightGrey);
  border-radius: 0.5rem;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.contentHeader {
  color: var(--darkGrey);
  margin-bottom: 1.5rem;
}
